
.home__image {

  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;


}

.about__card {
  vertical-align: middle;
  margin: 10px;
}



@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
.bouncy {

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
img:hover {

  animation-name: bounce;
  -moz-animation-name: bounce;
}

.about-title {
  position: absolute, fixed;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  display: block;
  padding: -10px;
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.certificates {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 90%;
}
